@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

.root {
  place-content: center flex-start;
  align-items: center;
  background-color: rgb(31, 31, 31);
  gap: 10px;
  height: 100vh;
  overflow: auto;
  padding: 0px;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
  align-items: center;
  gap: 64px;
}

.title-container {
  display: flex;
}

.title {
  font-size: 50px;
  color: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.description {
  font-size: 1.5rem;
  color: white;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  height: 50px;
  width: 80%;
  max-width: 350px;
  font-size: 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.button-clear {
  background-color: rgb(173, 173, 173);
  color: black;
}

.button-generate-idle {
  background-color: rgb(107, 255, 87);
  color: black;
}

.button-generate-generating {
  background-color: rgb(255, 252, 94);
  color: black;
}

.prompt-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.prompt-label {
  font-size: 2rem;
  color: white;
}

.input-prompt {
  flex-grow: 4;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.model-status-message {
  color: rgb(255, 255, 255);
}

.image {
  border: solid rgb(56, 56, 56);
  border-radius: 10px;
}

.final-prompt {
  color: white;
  text-align: center;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}